.last-read {
  border-top: 8px solid #dbdbdb;
  height: 100%;
  position: relative;
  &::before {
    content: '...';
    position: absolute;
    top: -19px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 8px;
  }
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: white;

  > .chat-title {
    font-size: 150%;
    padding: 25px 25px 10px;
    img {
      margin-right: 15px;
    }
  }

  > .chat {
    overflow-y: auto;
    padding: 10px 0px 15px;
    padding-top: 10px;
    flex: 1;
  } 

  > .answer-input{
    height: 64px;
    width: 100%;
    border-top: #ececec solid 1.5px;

    > .answer {
      padding: 0px;
      height: 100%;
    }
  }

}

.com-text {
  &.send-text {
    > .avartar-wrapper {
      float: right;
    }
    > .message-wrapper {
      float: right;
      text-align: right;
      > .content {
        > .time {
          right: calc(100% + 8px);
          left: auto;
        }
        > .textblock {
          background-color: #abf18c;

          &::before {
            content: '\A';
            border-top: 8px solid #abf18c;
            border-right: 8px solid transparent;
            top: 3px;
            left: inherit;
            right: -8px;
          }
        }
      }
    }
  }

	margin: 0px;
  margin-bottom: 16px;
  > .avartar-wrapper {
    float: left;
    min-height: 1px;
  }
  > .message-wrapper {
    float: left;
    padding-left: 12px;
    padding-right: 8px;
    position: relative;
    min-height: 1px;
    
    .title {
      color: gray;
    }

    > .content {
      margin-top: 5px;
      position: relative;
      > .time {
        position: absolute;
        top: 0px;
        left: calc(100% + 8px);
        white-space: nowrap;
        font-size: 75%;
        color: gray;
        display: block;
      }
      > .textblock {
        padding: 9px;
        background-color: rgb(237, 238, 243);
        position: relative;
        display: block;

        &::before {
          content: '\A';
          position: absolute;
          border-top: 8px solid rgb(237, 238, 243);
          border-left: 8px solid transparent;
          top: 3px;
          left: -8px;
        }
      }
    }
  }
	img {
		margin-top: 7px;
	}
	.col-md-11 {
		padding: 0px;
	}
}

.form-inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
	height: 100%;

  > .text-input {
    flex: 1;
    border: none;
    border-color: transparent;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
  > .sent-button {
    width: 64px;
    margin-left: -5px;
    vertical-align: top;
    border-radius: 0px;
    background-color: white;
    border-color: white;

    &:hover {
      background-color: #ececec;
      border-color: #ececec;
    }
  }
}
