<template name="chatlist">
  <div class="chat-list-wrapper">
    <h4 class="header">Chats</h4>
    <ul class="chat-list">
      {{#if Template.subscriptionsReady}}
        {{#each room in rooms}}
          {{> ChatItem room=room}}
        {{/each}}
      {{else}}
        <li>
          <a class="row">
            <div class="col-xd-12 loading">
              Loading...
            </div>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="ChatItem">
  <li>
    <a class="row" href="{{room._id}}">
      <div class="avatar-wrapper col-xs-3">        
        <img src="http://7bna.net/images/picture/picture-37.jpg" width="50" height="50" class="img-circle"> 
      </div>
      <div class="col-xs-4">
        <div class="row">
          <p class="room-name">
            {{room.name}}
          </p>
        </div>
        <div class="row text">
          {{#if room.lastest.serverMsg}}
            {{room.lastest.body}}
          {{else}}
            {{room.lastest.owner}}: {{room.lastest.body}}
          {{/if}}
        </div>
      </div>
      <div class="col-xs-5 text">
        {{formatDate room.lastest.createAt}}<br>
        <!--<span class="badge">14</span>-->
      </div>
    </a>
  </li>
</template>