<template name="createchat">
  <div class="create-chat-wrapper">
    <div class="container container-compressed">
      <div class="row">
        <h4 class="header text-center header-wrap">Start Group Chat</h4>
      </div>
      <form class="create-form">
        <div class="row">
          <input name="name" class="input-wrap center-block" type="text" ref="textInput" placeholder=" Type room name" />
        </div>
        <div class="row">
          <div class="btn-wrap">
            <button class="btn ok-btn" type="submit">Create Room</button>
            <button class="btn cancel-btn" data-dismiss="modal" >Cancle</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>