<template name="createchat">
  <div class="create-chat-wrapper">
    <div class="container container-compressed">
      <div class="row">
        <h4 class="header text-center header-wrap">Start Group Chat</h4>
      </div>
      <div class="row">
        <form class="create-form">
           <input name="group" class="input-wrap center-block" type="text" ref="textInput" placeholder=" Type room name" />
        </form>
      </div>
      <div class="row">
        <div class="btn-wrap">
          <button class="btn ok-btn">Create Room</button>
          <button class="btn cancel-btn">Cancle</button>
        </div>
      </div>
    </div>
  </div>
</template>