<template name="sidebar">
  <ul class="sidebar {{expand}}">
    <li class="menu">
      <a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a>
    </li>
    <li class="menu">
      <a href="/" data-text="Chats"><i class="fa fa-comment"></i></a>
    </li>
    <li class="menu">
      <a href="#" data-text="Create chat" data-toggle="modal" data-target="#createChatModal">
        <i class="fa fa-plus-circle"></i>
      </a>
    </li>
    <li class="menu mdi">
      <a href="/join" data-text="Join"><i class="mdi mdi-magnify"></i></a>
    </li>
    <li class="menu mdi bottom">
      <a href="#" data-text="Setting"><i class="mdi mdi-settings"></i></a>
    </li>
  </ul>

  <!-- Modal -->
<div id="createChatModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 420px;">
         <!-- Modal content-->
    <div class="modal-content">
       <!--{{> createChat}}-->
       {{> createchat}}
    </div>
    </div>
</div>

</template>