<template name="sidebar">
  <ul class="sidebar {{expand}}">
    <li class="menu">
      <a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a>
    </li>
    <li class="menu">
      <a href="#" data-text="Chats"><i class="fa fa-comment"></i></a>
    </li>
    <li class="menu">
      <a href="#" data-text="Create chat"><i class="fa fa-plus-circle"></i></a>
    </li>
    <li class="menu bottom">
      <a href="#" data-text="Setting"><i class="fa fa-cog"></i></a>
    </li>
  </ul>
</template>