<template name="sidebar">
  <ul class="sidebar {{expand}}">
    <li class="menu">
      <a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a>
    </li>
    <li class="menu">
      <a href="/" data-text="Chats"><i class="fa fa-comment"></i></a>
    </li>
    <li class="menu">
      <a href="/create" data-text="Create chat"><i class="fa fa-plus-circle"></i></a>
    </li>
    <li class="menu mdi">
      <a href="/join" data-text="Join"><i class="mdi mdi-magnify"></i></a>
    </li>
    <li class="menu mdi bottom">
      <a href="#" data-text="Setting"><i class="mdi mdi-settings"></i></a>
    </li>
  </ul>
</template>