<template name="MainLayout">
  {{> sidebar}}
  <main class="container-fluid main">
    {{> Template.dynamic template=main}}
  </main>
</template>

<template name="Home">
  <div class="chat-list-container col-sm-4">
    {{> chatlist}}
  </div>
  <div class="chat-container col-sm-8 hidden-xs" style="background-color: #f7f8fc;">
    <div class="row" style="height: 100%;">
      <h3 class="text-center">LINE</h3>
      <h5 class="text-center text-muted">Sign in to join!</h5>
      <div class="col-md-12">
      </div>
    </div>
  </div>
</template>

<template name="Chat">
  <div class="chat-list-container col-sm-4 hidden-xs">
    {{> chatlist}}
  </div>
  <div class="chat-container col-sm-8">
    {{> chat id=id}}
  </div>
</template>

<template name="CreateChat">
  <div class="col-xs-12">
    {{> createchat}}
  </div>
</template>

<template name="JoinChat">
  <div class="col-xs-12">
    {{> joinchat}}
  </div>
</template>
